@font-face {
  font-family: "Helvetica Neue";
  src: url('../../fonts/HelveticaLight.ttf') format('ttf');
  font-weight: 300;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url('../../fonts/HelveticaLightItalic.ttf') format('ttf');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url('../../fonts/HelveticaRoman.ttf') format('ttf');
  font-weight: 400;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url('../../fonts/HelveticaItalic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url('../../fonts/HelveticaMedium.ttf') format('ttf');
  font-weight: 500;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url('../../fonts/HelveticaNeueMediumItalic.otf') format('otf');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url('../../fonts/HelveticaNeueBold.otf') format('otf');
  font-weight: 700;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url('../../fonts/HelveticaNeueBlackItalic.otf') format('otf');
  font-weight: 700;
  font-style: italic;
}