@font-face {
  font-family: "Helvetica Neue";
  src: url('./fonts/Helvetica45Light_22437.ttf');
  font-weight: 300;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url('./fonts/Helvetica46LightItalic_22438.ttf');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url('./fonts/Helvetica55Roman_22439.ttf');
  font-weight: 400;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url('./fonts/Helvetica56Italic_22440.ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url('./fonts/Helvetica65Medium_22443.ttf');
  font-weight: 500;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url('./fonts/HelveticaNeueMediumItalic.otf');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url('./fonts/HelveticaNeueBold.otf');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url('./fonts/HelveticaNeueBlackItalic\ 1.otf');
  font-weight: 700;
  font-style: italic;
}