%arrow {
  content: " ";
  display: block;
  width: 29px;
  height: 29px;
  background-color: $primary;
  position: absolute;
  transform-origin: center;
  transform: translateX(5px) translateY(-50%) rotate(45deg);
}

%input {
  height: 3rem;
  line-height: var(--input-line-height);
  padding: var(--input-py) var(--input-px);
  font-size: var(--input-font-size);
}

.form {
  &-label {
    font-weight: var(--label-font-weight);
    font-size: var(--label-font-size);
  }
  &-control {
    @extend %input;
  }
}

.filter-search {
  &__header {
    padding: map-get($map: $spacers, $key: 3) * 0.75;
    color: white;
    position: relative;
    margin-bottom: map-get($map: $spacers, $key: 3);
    text-align: center;
    &--desktop {
      text-align: left;
      padding: 18px 36px;
      border-radius: 5px;
      margin-bottom: -7px;
      &::before {
        @extend %arrow;
        transform: translateX(0) translateY(-50%) rotate(45deg);
        right: 0;
        top: 50%;
      }
    }
  }
  &__arrow-container {
    @extend .container;
    position: relative;
    &::before {
      @extend %arrow;
      bottom: 0;
      left: 0;
      transform: translateX(50%) translateY(50%) rotate(45deg);
    }
  }
  &__input {
    border: none;
    @extend %input;
    &--bordered {
      border-top: 1px solid #9d9d9d;
      padding-top: 1rem;
    }
    &--submit {
      padding: {
        left: 2rem;
        right: 2rem;
      }
    }
  }
}

.subscribe-form {
  &__label {
    font-size: var(--label-font-size);
  }
  &__input {
    @extend .filter-search__input;
  }
  &__submit {
    padding: {
      left: 2.5rem;
      right: 2.5rem;
    }
  }
}

@include media-breakpoint-up(lg) {
  .filter-search {
    &__input {
      &--bordered {
        padding-top: none;
        border-left: 1px solid #9d9d9d;
        border-top: none;
      }
    }
  }
}
