.logo {
  &__image {
    height: 19px;
    margin-right: 11px;
  }
  &__text {
    height: 21px;
  }
  display: inline-flex;
  justify-content: center;
  align-items: center;
  &--footer {
    flex-direction: column;
    .logo__image {
      height: 65px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .logo {
    &--footer {
      flex-direction: column;
      .logo__image {
        height: 100px;
      }
    }
  }
}
@include media-breakpoint-up(xl) {
  .logo {
    &__image {
      height: 33px;
    }
    &__text {
      height: 37px;
    }
  }
}
