.page__heading {
  font-size: var(--page-heading-font-size);
  color: var(--page-heading-color);
  font-weight: var(--page-heading-font-weight);
  margin-top: var(--page-heading-margin-top);
}

.page__subtitle {
  font-size: var(--page-subtitle-font-size);
}

.page__section {
  background-color: white;
  border-radius: $border-radius;
  padding: var(--page-section-padding);
  margin-bottom: var(--page-section-margin-bottom);
}

.page__subheading {
  font-size: var(--page-subheading-font-size);
  font-weight: var(--page-subheading-font-weight);
  margin-bottom: var(--page-subheading-margin-bottom);
}