@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:400,100,300,900');

/* This CSS is autocompiled by LESS parser. Don't edit it manually. */

body {
    background: #222;
    font-family: 'Open Sans';
}

.btn {
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Roboto';
    border-radius: 20px;
}

label {
    font-weight: 600;
}

header,
.navbar,
footer {
    border: 0 none black;
    background: #222;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar a {
    color: #fff !important;
}

.navbar .navbar-header {
    width: 200px;
}

.navbar .navbar-right li {
    margin-top: 13px;
}

.navbar .navbar-brand {
    padding: 0;
    font-size: 1.4em;
    font-weight: 800;
}

.navbar .navbar-brand>img {
    display: inline-block;
    width: 36%;
    padding: 10px;
}

.navbar .navbar-collapse {
    border-top: 0px solid transparent;
    box-shadow: 0px 0px 0px rgba(255, 255, 255, 0.1) inset;
    max-height: none;
}

.navbar .navbar-collapse .btn-login a {
    border: 2px solid #fff;
    padding: 13px;
    margin-right: 5px;
    border-radius: 20px;
}

.navbar-default {
    padding-bottom: 10px;
}

.navbar-default .navbar-toggle {
    margin-top: 20px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff !important;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #000;
}

.navbar .navbar-right a,
footer .nav li a {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.2em;
    letter-spacing: 1px;
}

.navbar .navbar-right li.reverse a,
footer .nav li.reverse a {
    background: #fff;
    color: #222 !important;
    border-radius: 20px;
}

footer .nav li a:hover,
footer .nav li a:focus {
    background: transparent;
}

.navbar .navbar-right li.active a,
.navbar .navbar-right li.active a:active,
.navbar .navbar-right li.active a:hover,
.navbar .navbar-right li.active a:focus,
footer .nav li.active a,
footer .nav li.active a:active,
footer .nav li.active a:hover,
footer .nav li.active a:focus {
    background: #696767;
    color: #fff !important;
    border-radius: 20px;
}

@media (max-width: 1200px) {
    .navbar .navbar-right a {
        font-size: 1em;
        padding: 10px 8px;
    }

    /*.navbar .navbar-brand>img {
        width: 20%;
    }*/

    .navbar .btn-login a {
        margin-top: -6px;
    }
}

@media (max-width: 991px) {
    .navbar .navbar-right a {
        font-size: 0.8em;
        padding: 6px 4px;
    }

    .navbar .navbar-right li {
        margin-top: 15px;
    }

    .navbar .navbar-brand {
        font-size: 1em;
    }

    .navbar .btn-login a {
        margin-top: -9px;
    }
}

@media (max-width: 768px) {
    .navbar .navbar-right li {
        margin-top: 0;
    }

    .navbar .navbar-right a {
        margin-left: 0px;
        font-size: 1.1em;
    }

    .navbar .navbar-header {
        width: 100%;
    }

    .navbar .navbar-header button {
        margin-right: 0px;
    }

    .navbar .navbar-brand {
        width: 200px;
    }

    .navbar .navbar-brand>img {
        width: 33%;
    }
}

ul.nav.navbar-nav.navbar-right>li {
    padding-top: 2%;
}

.open #cuenta:active,
.open #cuenta:focus {
    background: #000 !important;
    color: #fff !important;
}

.dropdown-menu li {
    margin-top: 0 !important;
}

.dropdown-menua,
#dropdown-menu a {
    color: #222 !important;
    background: white !important;
}

.dropdown-menua:hover,
#dropdown-menu a:hover {
    color: #fff !important;
    background: #000 !important;
}

footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

footer #copy {
    line-height: 50px;
    font-family: 'Open Sans';
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.2em;
    color: white;
}

footer #copy a {
    color: white !important;
}

footer .nav {
    float: none;
    text-align: center;
}

footer .nav li {
    float: none;
    display: inline-block;
    margin-top: 10px;
}

footer .nav li a {
    color: white;
    font-size: 1em;
    padding: 5px;
}

@media (max-width: 991px) {
    footer .nav {
        clear: both;
    }
}

#page .container {
    padding: 50px;
    padding-top: 20px;
    min-height: 450px;
    background: white;
    border-radius: 15px;
}

@media (max-width: 767px) {
    #page .container {
        padding: 38px;
    }
}

#page h1,
#page h2,
#page h3 {
    font-family: 'Roboto';
    font-weight: 100;
}

#page h1 {
    font-size: 1.7em;
    font-weight: bold;
}

#page h3 {
    font-weight: 300;
}

#page p {
    text-align: justify;
    line-height: 25px;
}

#cellphone,
#caracteristicas,
#instrucciones,
#notifica,
#page {
    background: #222;
}

b,
strong {
    font-weight: 400;
}

b .destacado-rojo,
strong .destacado-rojo {
    color: red;
}

p strong {
    font-weight: 700;
}

.btn-informar {
    background: #b4ddb4;
    background: -moz-linear-gradient(top, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005400 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b4ddb4), color-stop(17%, #83c783), color-stop(33%, #52b152), color-stop(67%, #008a00), color-stop(100%, #005400));
    background: -webkit-linear-gradient(top, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005400 100%);
    background: -o-linear-gradient(top, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005400 100%);
    background: -ms-linear-gradient(top, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005400 100%);
    background: linear-gradient(to bottom, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005400 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4ddb4', endColorstr='#005400', GradientType=0);
    border-color: #005400;
    text-transform: none;
    text-shadow: -1px -1px 0 #0D6D00;
    font-weight: normal;
    letter-spacing: 1px;
    box-shadow: 0px 0px 15px #000;
}

.btn-informar:hover {
    box-shadow: none;
}

#cellphone h1 {
    font-family: 'Roboto';
    font-weight: 300;
    color: white;
}

#cellphone h3 {
    font-family: 'Roboto';
    font-weight: 300;
    color: white;
    text-shadow: 1px 1px 3px #000;
}

#cellphone .container {
    background: #2f6b2f url('./images/mosaico.jpg') center bottom no-repeat;
    background-size: cover;
    height: 420px;
    border-radius: 30px 30px 0 0;
}

#cellphone .container #celular {
    background: url('./images/mobile.png') no-repeat center top;
    min-width: 250px !important;
    height: 550px;
    margin-top: 30px;
}

#cellphone .container h1 {
    line-height: 1.3em;
    text-shadow: 2px 2px 5px #000;
}

#cellphone .container button {
    margin-top: 20px;
}

#cellphone .container .col-sm-4 {
    margin-top: 20px;
}

#cellphone .container .col-sm-4 h3 {
    margin-top: 10px;
}

#cellphone .container .col-sm-4 img {
    border-radius: 8px;
}

#cellphone .container #carousel-inicio {
    width: 400px;
    height: 300px;
    margin-bottom: 20px;
}

#cellphone .container #carousel-inicio .carousel-inner {
    position: relative;
}

#cellphone .container #carousel-inicio .carousel-inner>.item {
    height: 300px;
}

#cellphone .container #carousel-inicio .carousel-inner>.item>img {
    border-radius: 35px;
    height: 300px;
}

#cellphone .container #carousel-inicio a.right.carousel-control {
    border-radius: 0 35px 35px 0;
}

#cellphone .container #carousel-inicio a.left.carousel-control {
    border-radius: 35px 0 0 35px;
}

@media (max-width: 1200px) {
    #cellphone h3 {
        font-size: 1.5em;
        white-space: nowrap;
    }
}

@media (max-width: 991px) {
    #cellphone .container #celular {
        background-size: 70%;
        height: 380px;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    #cellphone .container {
        border-radius: 0;
        height: auto;
    }

    #cellphone h1 {
        line-height: 1.1em;
        margin-top: 1em;
    }

    #cellphone h3 {
        font-size: 1.7em;
        white-space: nowrap;
    }
}

@media (max-width: 500px) {
    #cellphone .container #carousel-inicio {
        width: 260px;
        height: 200px;
    }

    #cellphone .container #carousel-inicio .carousel-inner>.item {
        height: 200px;
    }

    #cellphone .container #carousel-inicio .carousel-inner>.item>img {
        height: 200px;
    }
}

#caracteristicas {
    color: gray;
}

#caracteristicas h1,
#caracteristicas h2,
#caracteristicas h3,
#caracteristicas h4 {
    font-family: 'Roboto';
    font-weight: 300;
}

#caracteristicas .container {
    background: white;
    padding-bottom: 20px;
}

#caracteristicas #blink {
    font-size: 45px;
    font-family: 'Open Sans' !important;
    font-weight: 800 !important;
}

#caracteristicas #blink_2 {
    font-size: 45px;
    font-family: 'Open Sans' !important;
    font-weight: 800 !important;
}

#caracteristicas .home-lead {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.3em;
    margin-top: 1em;
    text-align: justify;
}

#caracteristicas .green {
    text-transform: uppercase;
    color: #5CB85C;
    font-family: 'Open Sans';
}

#caracteristicas div.circle {
    background-color: #f2f2f2;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    text-align: center;
    line-height: 160px;
    float: left;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
}

#caracteristicas div.circle-info {
    padding-left: 150px;
}

#caracteristicas .fa-bus {
    color: #c00000;
}

#caracteristicas .fa-car:first-child {
    color: #ffc000;
}

#caracteristicas .fa-car:last-child {
    color: #e46c0a;
}

#caracteristicas .fa-question-circle {
    color: #0070c0;
}

@media (max-width: 768px) {
    #caracteristicas .home-lead {
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 1.1em;
        margin-top: 1em;
        text-align: justify;
    }
}

@media (max-width: 435px) {
    #caracteristicas h3 {
        font-size: 1.5em;
    }

    #caracteristicas h4 {
        font-size: 1em;
    }
}

#ejemplos {
    margin: 50px -15px 30px;
    padding: 20px 40px;
    background: #f5f5f5;
}

#motivacion {
    padding: 0px 25px;
}

#instrucciones h3 {
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
}

#instrucciones .container {
    background: #d9d9d9;
    padding-bottom: 40px;
    padding-top: 20px;
}

#instrucciones div.circle {
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    text-align: center;
    line-height: 170px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#instrucciones div.circle .fa-5x {
    color: #428BCA;
    font-size: 5.2em;
}

#instrucciones p {
    font-size: 1.3em;
}

@media (max-width: 600px) {
    #instrucciones .col-xs-3 {
        width: 50%;
    }
}

@media (max-width: 435px) {
    #instrucciones .col-xs-3 {
        width: 100%;
    }
}

#notifica .container {
    padding: 50px;
    padding-bottom: 50px;
    padding-top: 30px;
    background: white;
    border-radius: 0 0 15px 15px;
}

#notifica h3 {
    margin-top: 5px;
    font-family: 'Open Sans';
    text-transform: uppercase;
}

#notifica button {
    font-family: 'Roboto';
}

@media (max-width: 768px) {
    #notifica .row div {
        width: 100%;
        padding-right: 220px;
    }
}

@media (max-width: 435px) {
    #notifica button {
        float: none;
        min-width: 100%;
        margin: 0;
    }

    #notifica .row {
        padding-left: 20px;
        padding-right: 20px;
    }

    #notifica .row div {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
    }
}

#aplicacion .container {
    padding-bottom: 50px;
    padding-top: 80px;
    background: white;
}

#aplicacion .container img {
    height: 100px;
}

@media (max-width: 991px) {
    #aplicacion .container img {
        margin-bottom: 30px;
        width: 300px;
    }
}

@media (max-width: 767px) {
    #aplicacion .container {
        padding-bottom: 0px;
    }

    #aplicacion .container img {
        height: 90px;
    }
}

.redes-sociales {
    position: fixed;
    z-index: 99;
    top: 50%;
    left: -40px;
    list-style: outside none none;
    text-align: center;
}

.redes-sociales li {
    border: 1px solid #fff;
    border-radius: 0px 10px 10px 0px;
    padding: 4px;
    margin-bottom: 0.4em;
    color: #fff;
}

.redes-sociales .iconos-redes-facebook {
    background: #3B5999;
}

.redes-sociales .iconos-redes-twitter {
    background: #0084b4;
}

.pagina-404 {
    margin-top: 50px;
}

.pagina-404 h2 {
    font-size: 5em;
}

#login-verificar {
    margin: auto;
    float: none;
}

#login-verificar input,
#login-verificar button {
    margin-bottom: 10px;
    width: 100%;
}

.main-menu {
    border-bottom: 0 none transparent !important;
}

.main-menu li a {
    border: 0 none transparent !important;
    border-bottom: 1px dashed #ccc !important;
    font-family: 'Roboto';
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.2em;
    border-radius: 0 !important;
}

.form-invitar .control-label {
    text-align: left;
}

.numero-invitados {
    margin-top: 20px;
    font-size: 3em;
    display: block;
}

section.redes-sociales-compartir {
    margin-bottom: 0.5em;
}

.fb {
    color: #fff;
    background-color: #4267b2;
    text-transform: none;
    text-align: center;
    padding: 10px;
    display: block;
}

.fb:hover,
.fb:active,
.fb:focus {
    color: #fff;
    background-color: #365899;
    transition: .7s;
    text-decoration: none;
}

.tw {
    color: #fff;
    background-color: #1da1f2;
    text-transform: none;
    text-align: center;
    padding: 10px;
    display: block;
}

.tw:hover,
.tw:active,
.tw:focus {
    color: #fff;
    background-color: #0089cb;
    transition: .7s;
    text-decoration: none;
}

.wh {
    color: #fff;
    background-color: #4dc247;
    text-transform: none;
    text-align: center;
    padding: 10px;
    display: block;
}

.wh:hover,
.wh:active,
.wh:focus {
    color: #fff;
    background-color: #45AE3F;
    transition: .7s;
    text-decoration: none;
}

.bajada-texto-invitados {
    display: block;
}

b i {
    color: #5cb85c;
}

.tabla-scroll {
    max-height: 342px;
    overflow: auto;
}

@media (max-width: 991px) {
    .numero-invitados {
        margin-top: 0.5em;
    }
}

@media (max-width: 767px) {
    button.btn.btn-danger.btn-xs.pull-right {
        margin-left: auto;
        margin-right: auto;
        display: block;
        float: none !important;
        margin-top: 10px;
    }

    a.btn-redes-sociales {
        margin-bottom: 1em;
    }

    section.redes-sociales-compartir {
        margin-bottom: 0em;
    }
}

@media (max-width: 767px) {
    a.btn.btn-md.btn-primary {
        display: block;
        margin-bottom: 1em;
    }
}

i.vehiculos_propios {
    color: #449d44;
}

i.vehiculos_adicionales {
    color: #AFAFAF;
}

.popover {
    max-width: 500px !important;
}

.form-group-patente.has-error {
    border-color: #a94442;
}

#login-page {
    height: 100%;
    width: 100%;
    background-color: #222;
}

#login-page a {
    color: #646464;
}

#login-container {
    margin: auto;
    width: 300px;
    padding-top: 50px;
}

#login-form {
    margin-bottom: 150px;
}

@media (max-height: 650px) {
    #login-container {
        padding-top: 0;
    }
}

#login-container .navbar-brand {
    width: 300px;
}

#login-container .copy,
#login-container .copy * {
    color: white;
}

.g-recaptcha {
    width: 90%;
}