$primary: #cf302a;
$body-color: #4d4d4d;

$body-bg: #fafafa;
$border-radius: 0.35rem;
$card-border-color: transparent;
$enable-responsive-font-sizes: true;
$nav-link-padding-y: 1rem;
$nav-link-padding-x: 1rem;
$navbar-nav-link-padding-x: 1rem;
$navbar-nav-link-border-bottom-color: #dddddd;
$navbar-light-color: $body-color;
$navbar-light-active-color: $primary;
$navbar-toggler-padding-y: 1rem;
$navbar-toggler-padding-x: 1rem;
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$primary}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-light-toggler-border-color: transparent;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1280px,
  xxl: 1920px,
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1250px,
  xxl: 1600px,
);

$form-text-margin-top: 0.5rem;
$input-placeholder-color: #b7b7b7;
//$input-border-color: transparent;
// $input-btn-padding-y: 1rem;
// $input-btn-padding-x: 1.5rem;
@import "~bootstrap/scss/bootstrap";
html {
  font-size: 14px;
}
:root {
  --base-font-size: 14px;
  --input-font-size: var(--base-font-size);
  --input-px: 1rem;
  --input-py: 0.5rem;
  --input-line-height: 1;

  --label-font-size: 14px;
  --label-font-weight: 500;

  --page-heading-margin-top: 24px;
  --page-heading-font-size: 28px;
  --page-heading-color: #cf302a;
  --page-heading-font-weight: 300;
  --page-subtitle-font-size: 14px;
  --page-subheading-font-size: 18pt;
  --page-subheading-font-weight: 700;
  --page-subheading-margin-bottom: 1.375rem;
  --page-section-padding: 1.375rem 1.25rem;
  --page-section-margin-bottom: 1.371rem;
  --inform-img-height: 85px;
}
@include media-breakpoint-up(lg) {
  html {
    font-size: 16px;
  }
  :root {
    --input-font-size: 18px;
    --input-px: 1.5rem;
    --input-py: 0.75rem;

    --label-font-size: 20px;

    --page-heading-margin-top: 48px;
    --page-heading-font-size: 51px;
    --page-subtitle-font-size: 21px;

    --page-subheading-font-size: 30px;
    --page-subheading-margin-bottom: 3rem;

    --page-section-padding: 3rem 1.5rem;
    --page-section-margin-bottom: 3rem;
  }
}
@import "./components/forms";
@import "./components/buttons";
@import "./components/logo";
@import "./components/navbar";
@import "./components/footer";
@import "./components/banner";
@import "./components/hero";

.page__heading {
  font-size: var(--page-heading-font-size);
  color: var(--page-heading-color);
  font-weight: var(--page-heading-font-weight);
  margin-top: var(--page-heading-margin-top);
}

.page__subtitle {
  font-size: var(--page-subtitle-font-size);
}

.page__section {
  background-color: white;
  border-radius: $border-radius;
  padding: var(--page-section-padding);
  margin-bottom: var(--page-section-margin-bottom);
}

.page__subheading {
  font-size: var(--page-subheading-font-size);
  font-weight: var(--page-subheading-font-weight);
  margin-bottom: var(--page-subheading-margin-bottom);
}

.card {
  box-shadow: 0 9px 21px rgba(0, 0, 0, 0.039);
  border-radius: 1rem;
}

.btn-long {
  padding: {
    left: 2.5rem;
    right: 2.5rem;
  }
}

//home.scss

.inform {
  &__img {
    height: 85px;
  }
  &__text {
    font-size: 10pt;
  }
}
.container-narrow {
  width: 85%;
  max-width: 1600px;
  margin: auto;
  padding: 15px;
}

//lists
ul,
ol {
  padding-inline-start: 0;
  list-style-position: inside;
}

.list-alphabet {
  list-style-type: lower-alpha;
  list-style-position: outside;
  padding-inline-start: 1rem;
}
//separator component
.seperator {
  border-top: 1px solid rgba(207, 48, 42, 0.267);
  height: 1px;
  width: 80%;
  flex-basis: 80%;
}

//homepage sections
.community {
  position: relative;
  background: url(../images/Luis1.png), $primary;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  color: white;
  &__label {
    position: absolute;
    left: 0;
    height: 28pt;
    top: -10px;
  }
}

.situations {
  &__card {
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0pt 9pt 21px rgba(0, 0, 0, 0.039);
    padding-bottom: 1rem;
    border: none;
    margin-bottom: 1rem;
    &__img {
      height: 96px;
    }
    &__label {
      font-size: 16pt;
      font-weight: medium;
    }
  }
}

.slider {
  &__inner {
    padding: 9px;
    img {
      width: auto;
      height: 425px;
    }
  }
}
.slick {
  &-list {
    overflow: visible !important;
    width: 75%;
  }
  &-dots {
    position: static;
    li.slick-active {
      button:before {
        color: $primary;
        opacity: 1;
      }
    }
  }
}

.app-store {
  @extend .btn;
  background-color: black;
  color: white;
  font-size: 15px;
  padding: 0.625rem 0.875rem;
  display: flex;
  align-items: center;
  margin: 1rem;
  &__icon {
    height: 26pt;
    width: auto !important;
    margin-right: 1rem;
  }
}

@include media-breakpoint-up(md) {
  .community {
    background-position: left;
  }
  .slider {
    max-width: 1250px;
    margin: auto;
    &__inner {
      img {
        padding: 18px;
        max-width: 100%;
        height: auto;
      }
    }
  }
  .slick {
    &-list {
      width: auto;
    }
  }
  .app-store {
  }
}

//Terminos

.terminos {
  ol {
    list-style-type: none;
  }
  & > ol {
    counter-reset: item;
    & > li {
      margin-bottom: 1rem;
      counter-increment: item;
      &:before {
        content: counter(item) ". ";
        color: $primary;
        font-weight: bold;
      }
      & > h3 {
        font-size: 1rem;
        display: inline-block;
        color: var(--page-heading-color);
        margin-bottom: 1rem;
      }

      ol {
        list-style-type: none;
        counter-reset: list;
        li {
          counter-increment: list;
          &:before {
            content: "(" counter(list, lower-roman) ") ";
          }
        }
      }

      &:nth-child(3) > ol {
        list-style-type: none;
        counter-reset: item;
        & > li {
          counter-increment: item;
          &:before {
            content: counters(item, ".") ". ";
            font-weight: bold;
          }
        }
      }
    }
  }
}

//Preguntas
.faq {
  .card {
    margin-bottom: 1rem;
    border-radius: $border-radius !important;
    &-header {
      background-color: white;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-body {
      padding-top: 0;
    }
  }
}
.mx-auto-upto-lg {
  margin: {
    left: auto;
    right: auto;
  }
}

@media (max-width: var(--breakpoint-lg)) {
  .mx-auto-upto-lg {
    margin: {
      left: 0;
      right: 0;
    }
  }
}
